## Knn with or without Cross-validation

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\sujat\Downloads\Online Payment fraud detection.csv")
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,95,CASH_OUT,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,0
1048571,95,PAYMENT,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,0
1048572,95,PAYMENT,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,0
1048573,95,PAYMENT,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,0
1048574,95,PAYMENT,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,0

In [3]:
data1=data.iloc[:,[1,2,4,5,7,8,9]]
data1

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0
1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0
2,TRANSFER,181.00,181.00,0.00,0.00,0.00,1
3,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1
4,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...,...
1048570,CASH_OUT,132557.35,479803.00,347245.65,484329.37,616886.72,0
1048571,PAYMENT,9917.36,90545.00,80627.64,0.00,0.00,0
1048572,PAYMENT,14140.05,20545.00,6404.95,0.00,0.00,0
1048573,PAYMENT,10020.05,90605.00,80584.95,0.00,0.00,0
1048574,PAYMENT,11450.03,80584.95,69134.92,0.00,0.00,0

In [4]:
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()
data1["type"]=l1.fit_transform(data1["type"])

C:\Users\sujat\AppData\Local\Temp\ipykernel_23984\1316437898.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["type"]=l1.fit_transform(data1["type"])

In [5]:
data1

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,3,9839.64,170136.00,160296.36,0.00,0.00,0
1,3,1864.28,21249.00,19384.72,0.00,0.00,0
2,4,181.00,181.00,0.00,0.00,0.00,1
3,1,181.00,181.00,0.00,21182.00,0.00,1
4,3,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...,...
1048570,1,132557.35,479803.00,347245.65,484329.37,616886.72,0
1048571,3,9917.36,90545.00,80627.64,0.00,0.00,0
1048572,3,14140.05,20545.00,6404.95,0.00,0.00,0
1048573,3,10020.05,90605.00,80584.95,0.00,0.00,0
1048574,3,11450.03,80584.95,69134.92,0.00,0.00,0

In [6]:
data1["isFraud"].value_counts()

0    1047433
1       1142
Name: isFraud, dtype: int64

In [7]:
x=data1.iloc[:,:-1].values
y=data1.iloc[:,-1].values

In [8]:
from sklearn.preprocessing import StandardScaler
s1=StandardScaler()
s2=s1.fit_transform(x)

In [9]:
data2=pd.DataFrame(s2)
data2

                0         1         2         3         4         5
0        0.956576 -0.561738 -0.236855 -0.243832 -0.425883 -0.461062
1        0.956576 -0.591840 -0.286956 -0.290673 -0.425883 -0.461062
2        1.700067 -0.598194 -0.294045 -0.297117 -0.425883 -0.461062
3       -0.530406 -0.598194 -0.294045 -0.297117 -0.416661 -0.461062
4        0.956576 -0.554837 -0.280123 -0.287183 -0.425883 -0.461062
...           ...       ...       ...       ...       ...       ...
1048570 -0.530406 -0.098549 -0.132651 -0.181687 -0.215010 -0.205790
1048571  0.956576 -0.561445 -0.263638 -0.270315 -0.425883 -0.461062
1048572  0.956576 -0.545506 -0.287193 -0.294988 -0.425883 -0.461062
1048573  0.956576 -0.561057 -0.263617 -0.270329 -0.425883 -0.461062
1048574  0.956576 -0.555660 -0.266989 -0.274136 -0.425883 -0.461062

[1048575 rows x 6 columns]

In [10]:
x1=data2.iloc[:,:-1].values
y1=y

In [11]:
from imblearn.over_sampling import RandomOverSampler
r1=RandomOverSampler()
x_data,y_data=r1.fit_resample(x1,y1)

In [12]:
from collections import Counter
print(Counter(y_data))

Counter({0: 1047433, 1: 1047433})

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_data,y_data,test_size=0.2,random_state=0)

In [14]:
from sklearn.neighbors import KNeighborsClassifier
k1=KNeighborsClassifier()
k1.fit(x_train,y_train)

KNeighborsClassifier()

In [15]:
y_pred=k1.predict(x_test)
y_pred

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [16]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_pred,y_test)*100
print(ac)

99.91932673626526

## With Cross-Validation

In [17]:
from sklearn.model_selection import KFold
kf=KFold(n_splits=5,random_state=11,shuffle=True)
kf.get_n_splits(x1)

5

In [18]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

In [19]:
score=cross_val_score(k1,x_train,y_train,cv=kf)*100
pred=cross_val_predict(k1,x_test,y_test)
print(score)
print(np.mean(score))
print("knn:",pred)

[99.90900385 99.92869482 99.90810853 99.90035146 99.90452834]
99.91013739702566
knn: [1 0 0 ... 1 0 0]